  .checkbox { 
    display: block; 
    position: relative; 
    padding: 0 0 0 30px; 
    margin-bottom: 20px;
    cursor: pointer;
    }
  .checkbox_input { display: none;}
  .checkbox_input-emu { 
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 20px; 
    height: 20px; 
    border:2px solid currentColor; 
    background: rgba(0, 0, 0, 0);
    color: #40E0D0;
    }
  .checkbox_input-emu:after {
    content: "\2714";
    display: block;
    opacity: 0;
    width: 20px;
    height: 20px;
    color: currentColor;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s; 
    -moz-transition: all 0.3s ease 0s; 
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .checkbox_input:checked + .checkbox_input-emu:after { opacity: 1;}
  .checkbox_label-emu {
    display: inline-block;
    font-size:14px;
  }

  .checkbox_more {
    display: inline;
  }
  .checkbox_more-link {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    color: #4682B4;
    position: relative;
  }
  .checkbox_more-link:hover { text-decoration: none; }
  .checkbox_more-link:after {
    content: "\25bc";
    display: block;
    position: absolute;
    top: 0;
    right: -20px;
    font-weight: 100%;
    height: 100%;
    widows: 10px;
    color: currentColor;
    z-index: 1; /* фикс в FF */
    -webkit-transition: all 0.3s ease 0s; 
    -moz-transition: all 0.3s ease 0s; 
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .checkbox_more-link.open:after {
    -webkit-transform: rotate( -180deg );
    -moz-transform: rotate( -180deg );
    -ms-transform: rotate( -180deg );
    transform: rotate( -180deg );
  }
  .checkbox_more-text {
    font-size: 14px;
    margin-top: 5px;
    color: #808080;
  }
